@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Josefin+Sans:wght@300&family=Open+Sans:ital@0;1&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

header {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/desktop/image-hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding: 0 100px;
}



@media (max-width:991px){
    header{
        padding: 0 70px;
        background-image: url(images/mobile/image-hero.jpg);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden ;
    }

    .open-logo-nav-link{
        width: 20%; 
        height: 20%;

        margin-left: 7%;
        margin-top: 3%;
    
       
        z-index: 2000;
        
    }

    .padding_out {
        z-index: 2000 !important;
        padding: 0 0 !important;
    }
}

@media (max-width:575px){
    header{
        overflow: hidden;
        padding: 0 30px;
    }

    .padding_out {
        padding: 0 0 !important;
        z-index: 2000 !important;
    }
}

.hamburger  {
    display: none;
}

.close-nav {
    display: none;
}

header .navbar {
    width: 100%;
    max-width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: relative;
    top: 20px;
}

@media (max-width:991px){
    .nav_out {
        position: relative;
        top: 0px !important;

    }
}
header .navbar .logo {
    width: 20%;
    height: 20%;
}

header .navbar .nav-links{
    width: 40%;
    display: flex;
    justify-content: space-between;

    margin-right: 10px;
}

@media (max-width:991px){
    header .navbar .nav-links{
        width: 100%;
        height: 100vh;

        
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        
        z-index: 999;

        position: absolute;
        left: -2000%;
        top: 0;
    }

    header .navbar .nav-links li {
        margin-top: 20px;
    }

    .open-mobile-nav {
        left: 0 !important;
    }

    .close-nav{
        z-index: 2000 !important;

        margin-right: 10%;
        margin-top: 3%;
    }

    .hamburger{
        display: block;
    }

    header .navbar .logo {
        width: 35%;
    }

    .open-nav{
        display: block;
    }

    .close-hamburger {
        display: none;
    }

    .reveal-hamburger {
        display: block;
    }
}


header .navbar .nav-links li a {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 300;
    color: white;
    text-transform: capitalize;

}

header .navbar .nav-links li a::before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 10px;
    background-color: white;
    z-index: 1;
    margin-left: 15px;
    transition: all 500ms ease-in-out;
}

header .navbar .nav-links li a:hover::before {
    width: 3%;
}


header .hero_section{
    width: 100%;
    max-width: 550px;

    border: 1px solid white;


    margin-top: 15%;
    padding: 20px 20px;
}



header .hero_section .hero_text{
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: white;
    line-height: 1.1em;
    text-transform: uppercase;
}

@media (max-width:1024px){
    header .hero_section {
        margin-top: 20%;
    }
    header .hero_section .hero_text{
        font-size: 50px !important;
    }
}

@media (max-width:991px){
    header .hero_section{
        width: 100%;
        max-width: 500px;

        margin-top: 40%;
    }

    header .hero_section .hero_text{
        font-size: 50px !important;
    }
}

@media (max-width:575px){
    header .hero_section{
        width: 100%;
        max-width: 400px;


        margin-top: 45%;
    }

    header .hero_section .hero_text{
        font-size: 30px !important;
    }
}

.next_section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    padding: 150px 150px 100px;
}

@media (max-width:991px){
    .next_section {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;

        padding: 150px 100px;
    }
}

@media (max-width:765px){
    .next_section {
        padding: 100px 80px !important;
        min-height: 80vh !important;
    }
}

@media (max-width:575px){
    .next_section {
        padding: 70px 70px !important;
        min-height: auto !important;
    }
}

.next_section .inner_a {
    width: 100%;
    max-width: 700px;
    background-image: url(images/desktop/image-interactive.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:991px){
    .next_section .inner_a {
        width: 100%;  
        height: 210px;
        
        background-image: url(images/mobile/image-interactive.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.next_section .inner_b{
    width: 100%;
    max-width: 700px;
    max-height: 35vh;
    background-color: white;

    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 999;
    
    position: relative;
    right: 10%;
    top: 147px !important;
   
}


.next_section .inner_b .inner_b_head{
    width: 70%;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-transform: uppercase;

}

.next_section .inner_b .inner_b_text {
    width: 100%;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;

    margin-top: 8%;
}

@media (max-width:1440px){
    .next_section .inner_b{
        top: 185px;
    }
}
@media (max-width:1200px){
    .next_section .inner_b{
        max-height: 40vh;
        right: 5%;
        top: 151px;
    }

    .next_section .inner_b .inner_b_head{
        width: 100%;
        font: 10px !important;
    }
}

@media (max-width:1024px){
    .next_section .inner_b {
        top: 110px !important;
    }
}

@media (max-width:991px){
    .next_section .inner_b{
        padding: 30px 20px;
        top: 20px !important;
        right: 0;
        justify-content: center;

    }

    .next_section .inner_b .inner_b_head{
        width: 100% !important;
        font-size: 25px !important;
        text-align: center !important;
    }

    .next_section .inner_b .inner_b_text{
        text-align: center;
        width: 100%;
        font-size: 30px;

        margin-top: 5% !important;
    }
}

@media (max-width:765px) {
    .next_section .inner_b{
        padding: 30px 30px !important;
    }
    .next_section .inner_b .inner_b_text{
        font-size: 20px !important;
    }
}


@media (max-width:575px){
    .next_section .inner_b{
        width: 100% !important;
        padding: 30px 10px !important;
    }
    .next_section .inner_b .inner_b_text{
        font-size:15px !important;
    }
}

@media (max-width:375px){
    .next_section .inner_b .inner_b_head{
        font-size: 15px !important;
    }
    .next_section .inner_b .inner_b_text{
        font-size: 12px !important;
    }
}


.image_section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    padding: 70px 150px 10px 150px;
}

@media (max-width:991px){
    .image_section{
        padding: 70px 70px 10px 70px;
    }
}

@media (max-width:575px){
    .image_section {
        padding: 70px 20px 10px 20px;
    }
}

.image_section .image_section_inner_a {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:991px) {
    .image_section .image_section_inner_a {
        justify-content: center;
        align-content: center;
    }
}

.image_section .image_section_inner_a .image_section_head {
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 590 ;
    text-transform: uppercase;
}

@media (max-width:991px){
    .image_section .image_section_inner_a .image_section_head {
        font-size: 30px;
        font-weight: 600;
    }
}

@media (max-width:575px){
    .image_section.image_section_inner_a.image_section_head {
        font-size: 20px !important;
        font-weight: 600;
    }
}

.image_section .image_section_inner_a .image_section_button{
    width: 15%;

    background-color: white;
    border: 2px solid black;
}

@media (max-width:991px){
    .image_section .image_section_inner_a .image_section_button {
        display: none;
    }
}


.image_section .image_section_inner_a .image_section_button a{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.image_section .image_section_grid {
    width: 100%;
    max-width: 100%;
    min-height: 80vh;

    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

@media (max-width:991px){
    .image_section .image_section_grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.image_section .image_section_grid .grid_img{
    width: 100%;
    max-width: 250px;
    min-height: 70vh;
}

@media (max-width:991px){
    .image_section .image_section_grid .grid_img{
        max-width: 900px;
        min-height: 25vh !important;
    }
}

.img1{
    background-image: url(images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img2 {
    background-image: url(images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img3 {
    background-image: url(images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img4 {
    background-image: url(images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img5 {
    background-image: url(images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img6 {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img7 {
    background-image: url(images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.img8 {
    background-image: url(images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}


.grid_img .grid_text {
    width: 60%;
    font-size: 25px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-top: 140%;
    margin-left: 20%;

}

@media (max-width:1024px){
    .grid_img .grid_text{
        width: 80%;
        margin-top: 180%;
        margin-left: 10%;
    }
}


@media (max-width:991px){
    .grid_img .grid_text{
        font-size: 30px !important;
        width: 30%;
        margin: 30% 20% 0 10% !important;
    }
}



@media (max-width:575px){
    .grid_img .grid_text{
        width: 40%;
        font-size: 20px !important;
        margin: 40% 20% 0 10% !important;
    }
}

@media (max-width:991px){
    .img1{
        background-image: url(images/mobile/image-deep-earth.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img2 {
        background-image: url(images/mobile/image-night-arcade.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img3 {
        background-image: url(images/mobile/image-soccer-team.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img4 {
        background-image: url(images/mobile/image-grid.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img5 {
        background-image: url(images/mobile/image-from-above.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img6 {
        background-image: url(images/mobile/image-pocket-borealis.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img7 {
        background-image: url(images/mobile/image-curiosity.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
    
    .img8 {
        background-image: url(images/mobile/image-fisheye.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
    }
}

.text {
    width: 25% !important;
}

.mob_btn {
    display: none;
}

@media (max-width:991px){
    .mob_btn {
        display: block;

        margin-top: 10px;
    }

    .mob_btn .mob_btn_inner{
        width: 40%;
        height: 50px;

        background-color: white;
        border: 2px solid black;
        margin-left: 30%;

        padding: 0 20px;
    }

    .mob_btn .mob_btn_inner a{
        color: #000000;
        font-size: 22px;
        text-transform: uppercase;
    }
}

@media (max-width:575px){
    .mob_btn .mob_btn_inner {
        height: 30px !important;
    }
    .mob_btn .mob_btn_inner a {
        font-size: 18px ;
    }
}

@media (max-width:375px){

    .mob_btn .mob_btn_inner{
        width: 50% !important;
        margin-left: 25%;
    }
}

.footer {
    width: 100%;
    min-height: 10vh;
    background-color: #000000;

    margin-top: 10%;

    padding: 50px 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width:991px){
    .footer {
        min-height: 60vh;

        padding: 10px 100px !important;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:575px){
    .footer {
        padding: 10px 30px !important;
    }
}

@media (max-width:375px){
    .footer {
        padding: 10px 10px !important;
    }
}
.footer .footer_a {
    width: 100%;
    max-width: 400px;
    min-height: 12vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@media (max-width:991px){
    .footer .footer_a{
        width: 60% !important;
        min-height: 30vh !important;
        align-items: center;
    }
}


.footer .footer_a .footer_logo {
    width: 45%;
}
@media (max-width:991px){
    .footer .footer_a .footer_logo {
        width:60%
    }
}

@media (max-width:575px){
    .footer .footer_a .footer_logo {
        width: 60%;
    }
}

.footer .footer_a .footer_nav_links {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

@media (max-width:991px){
    .footer .footer_a .footer_nav_links{
        display: block;
        width: 30%;
        min-height: 22vh;

        justify-content: center !important;
        align-items: center !important;

    }
}

@media (max-width:575px){
    .footer .footer_a .footer_nav_links{
        width: 40%;
    }
}

.footer .footer_a .footer_nav_links li a{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 300;
    color: white;
    text-transform: capitalize;
}

@media (max-width:991px){
    .footer .footer_a .footer_nav_links li a{
        font-size: 30px !important;
    }
}

@media (max-width:575px){
    .footer .footer_a .footer_nav_links li a{
        font-size: 20px !important;
    }
}

@media (max-width:991px){
    .footer .footer_a .footer_nav_links li {
        padding-top: 20px;
    }
}

@media (max-width:575px){
    .footer .footer_a .footer_nav_links li {
        padding-top: 18px;
    }
}

.footer .footer_b {
    width: 60%;
    max-width: 400px;
    min-height: 12vh;

    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
@media (max-width:991px){
    .footer .footer_b {
        min-height: 6vh !important ;
        margin-top: 12% ;
    }
}

@media (max-width:575px){
    .footer .footer_b {
        min-height: 8vh !important;
    }
}
.footer .footer_b .icon_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 50%;
}

@media (max-width:991px){
    .footer .footer_b .icon_links {
        padding:0;
    }
}

.footer .footer_b .icon_links a{
    margin-right: 12px;
}

.footer .footer_b .footer_text {
    color: white;
    font-size: 18px;

    padding-left: 100px;
}

@media (max-width:991px){
    .footer .footer_b .footer_text {
        font-size: 24px;
        padding: 0;
    }
}

@media (max-width:575px){
    .footer .footer_b .footer_text {
        font-size: 12px !important;
        padding: 0;
    }
}

@media (max-width:375px){
    .footer .footer_b .footer_text {
        font-size: 11px !important;
    }
}

